.form {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 20px;
 
}

.textarea,
textarea {
  margin: 15px 0;
  padding: 8px;
  width: 100%;
}

.submit-btn {
  border: 2px #475548 solid;
  padding: 5px 20px;
  border-radius: 20px;
  color: #181717;

  font-size: 0.9em;
  margin: 20px auto 20px auto;
}
.submit-btn:hover {
  background-color: #475548;
  color: #fff;
  transform: scale(1.1);
}

.text {
  margin: 5px 5px 5px auto;
  border: 1px solid grey;
}

.delete {
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.input-container .input {
  flex-grow: 1;

  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 1.5em;
  width: auto;
}

.item .delete {
  cursor: pointer;
  padding: 1px 3px;
  background-color: #ff5f5f;
  color: white;
  border: none;
  border-radius: 3px;
  margin-right: 100px;
}

textarea {
  min-height: 150px;
}

.update-form h2{
  margin-top: 20px;
  font-size: 2.5em;
}
