
.travels-community-container {
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    background-image: url('../assets/pexels-quang-nguyen-vinh-222549-2166711.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.community-header {
    font-size: 3rem;
    color: #333;
    border-color: white;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}


.community-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}


.community-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.community-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.community-card-header {
    font-size: 1.1rem;
    font-weight: bold;
    color: #0073e6;
    margin-bottom: 10px;
}


.community-destination {
    font-size: 1rem;
    color: #0b0101;
    margin: 5px 0;
}


.community-comment {
    font-size: 1rem;
    color: #070202;
    margin-top: 10px;
}


.community-loading {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}


.community-error {
    text-align: center;
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
}
