.navbar {
  width: 100%;
  background-color: #718473;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;
    color: rgb(220, 220, 220);
    transition: color 0.3s ease;
  }
  a:hover {
    color: #475548;
  }
}

.logo-container {
  border: red solid;
  width: auto;
  left: 50px;
  font-size: 1.2em;
  h1 {
    font-family: "Margarine", serif;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    color: rgb(220, 220, 220);
  }
}

.info-container {
  border: red solid;
  display: flex;
  gap: 120px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  list-style: none;
  li {
    font-size: 1.1em;
  }
}

.info-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 120px;

  li {
    list-style: none;

    font-size: 1.1em;
  }
  li a {
    font-size: 1.1em;
    color: rgb(220, 220, 220);
    transition: color 0.3s ease;
  }
  li a:hover {
    color: #475548;
  }
}

.user-profile {
  /* background-image: url("../assets/profile-image.jpeg"); */
  border: none;
  background-size: cover;
  background-position: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-right: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.navbar a.active {
  color: #475548;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
